<img src="../../../assets/01_banner Hotsite_1920x600px.jpg" class="img-fluid" alt="">

<nav class="navbar navbar-expand-lg navbar-dark bg-primary static-top margin-negativa mx-auto" style="width: 80%;">
  <div class="container px-4 py-1">
    
    <a class="navbar-brand" href="#">
      <img src="../../../assets/logo-unimed.svg" alt="..." height="40" class="">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">O Projeto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Como funciona?</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Critérios de Elegibilidade</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Dúvidas</a>
        </li>

      </ul>
    </div>
  </div>
</nav>