<!--CARD VALORES CONSULTAS-->


<div *ngFor="let item of cardGanhos" class="container ">
  <div class="row mb-5">
    <div class="col-4">
      <div class="p-5 shadow-sm bg-light rounded">
        <div class="mb-4">
          <h4 class="text-secondary">{{item.titulo}}</h4>
        </div>

        <div class="d-flex me-3 mb-3 align-items-center">
          <div class="me-3">
            <img src="../assets/icones/add_box.svg" alt="">
          </div>
          <div class="d-flex flex-column">
            <h5 class="m-0">{{item.valorConsulta | currency: 'BRL': 'R$ '}}</h5>
            <p class="m-0">{{item.textoConsulta}}</p>
          </div>
        </div>

        <div class="d-flex me-3 mb-3 align-items-center">
          <div class="me-3">
            <img src="../assets/icones/add_box.svg" alt="">
          </div>
          <div class="d-flex flex-column">
            <h5 class="m-0">{{item.percentualIU}}</h5>
            <p class="m-0">{{item.textopercIU}}</p>
          </div>
        </div>

        <div class="d-flex me-3 mb-3 align-items-center">
          <div class="me-3">
            <img src="../assets/icones/add_box.svg" alt="">
          </div>
          <div class="d-flex flex-column">
            <h5 class="m-0">{{item.percentuaIQA}}</h5>
            <p class="m-0">{{item.textopercIQA}}</p>
          </div>
        </div>

        <div class="d-flex me-3 mb-3 align-items-center">
          <div class="me-3">
            <img src="../assets/icones/add_box.svg" alt="">
          </div>
          <div class="d-flex flex-column">
            <h5 class="m-0">{{item.percentuaIndicadoresIndividuais}}</h5>
            <p class="m-0">{{item.textoPerIndicadoresIndividuais}}</p>
          </div>
        </div>

        <span class="border-bottom mb-3"></span>

        <div class="d-flex me-3 align-items-center">
          <div class="me-3">
            <img src="../assets/icones/monetization_on_bold.svg" alt="">
          </div>
          <div class="d-flex flex-column" style="margin:0; padding:0;">
            <h3 class="m-0 text-secondary">{{item.valorTotal | currency: 'BRL': 'R$ '}}</h3>
            <p class="m-0">{{item.textoValorTotal}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<!-- <div class="container ">
  <div class="row mb-5">
    <div class="col-4">
      <div class="p-5 shadow-sm bg-light rounded">
        <div class="mb-4">
          <h4 class="text-secondary">Valor consulta + bônus total</h4>
        </div>

        <div class="d-flex me-3 mb-3 align-items-center">
          <div class="me-3">
            <img src="../assets/icones/add_box.svg" alt="">
          </div>
          <div class="d-flex flex-column">
            <h5 class="m-0">R$ 90,00</h5>
            <p class="m-0">valor consulta - renda ampla</p>
          </div>
        </div>

        <div class="d-flex me-3 mb-3 align-items-center">
          <div class="me-3">
            <img src="../assets/icones/add_box.svg" alt="">
          </div>
          <div class="d-flex flex-column">
            <h5 class="m-0">6% - IU</h5>
            <p class="m-0">bônus sinistralidade</p>
          </div>
        </div>

        <div class="d-flex me-3 mb-3 align-items-center">
          <div class="me-3">
            <img src="../assets/icones/add_box.svg" alt="">
          </div>
          <div class="d-flex flex-column">
            <h5 class="m-0">6% - IQA</h5>
            <p class="m-0">bônus máximo dos indicadores gerais</p>
          </div>
        </div>

        <div class="d-flex me-3 mb-3 align-items-center">
          <div class="me-3">
            <img src="../assets/icones/add_box.svg" alt="">
          </div>
          <div class="d-flex flex-column">
            <h5 class="m-0">18% - I.I</h5>
            <p class="m-0">bônus indicadores individuais</p>
          </div>
        </div>

        <span class="border-bottom mb-3"></span>

        <div class="d-flex me-3 align-items-center">
          <div class="me-3">
            <img src="../assets/icones/monetization_on_bold.svg" alt="">
          </div>
          <div class="d-flex flex-column" style="margin:0; padding:0;">
            <h3 class="m-0 text-secondary">R$ 117,00</h3>
            <p class="m-0">bônus indicadores individuais</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
