<app-header></app-header>

<div class="container">
  <div class="row mt-3">
    <div class="col-12 d-flex justify-content-center my-4 text-secondary">
      <img src="../assets/icone-titulos.svg" alt="">
      <h1 class="ps-3">O Projeto</h1>
    </div>
  </div>
</div>

<div class="container mb-4">
  <div class="row mt-3">
    <div class="col-12 col-sm-6 align-items-center d-flex flex-column mb-3">
      <div class="mb-3">
        <img src="../assets/aspas-grande-abri.svg" alt="">
      </div>
      <div>
        <p class="text-center fw-light fs-4 px-5">O objetivo é que os cooperados sejam bonificados de acordo com sua
          performance individual e com a da cooperativa.</p>
      </div>
      <div class="d-flex flex-column align-items-center">
        <h5>Dra. Nilva Galli</h5>
        <p class="fst-italic">(Presidente - Unimed Prudente)</p>
      </div>
      <div>
        <img src="../assets/aspas-grande-fecha.svg" alt="" class="mb-3">
      </div>
    </div>
    <div class="col-12 col-sm-6">
      <iframe width="100%" height="315" src="https://www.youtube.com/embed/PSdvf_frAj4" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
  </div>
</div>

<div class="container my-5">
  <div class="row mt-3 d-flex justify-content-center align-items-center ">
    <div class="col-12 col-sm-1 text-center mb-2">
      <img class="p-0 m-0" src="../assets/icone-titulos.svg" alt="">
    </div>
    <div class="col-10 col-sm-6 col-xl-8 d-block mb-2">
      <h1 class="text-center text-secondary m-0">Como Funciona a Remuneração Variável?</h1>
    </div>
  </div>
</div>


<div class="container mb-5">
  <div class="row d-flex justify-content-center">
    <div class="col-10 text-center fw-light fs-6">
      <p>O programa visa mudar o modelo de pagamento Fee for Service (que estimula a produção), para um modelo que
        reconheça e valorize a contribuição individual do cooperado. </p>

      <p>É dividido em etapas que contemplam um conjunto de indicadores que permitem mensurar e acompanhar a Qualidade
        da
        Assitência prestada aos pacientes, dando mais transparência e visibilidade às informações assistenciais
        econômico-financeiras da cooperativa.
      </p>
    </div>
  </div>
</div>

<!-- <div class="container mb-4">
  <div class="row d-flex align-items-center justify-content-center flex-wrap text-center">
    <div class="col-md col-12 mb-3 align-self-center text-center">
      <div class="justify-content-center">
        <img src="../assets/como_funciona/indice-utilizacao-quadro.svg" alt="">
      </div>
    </div>
    <div class="col-md-1 col-12 mb-3 align-self-center ">
      <img class="" src="../assets/como_funciona/+.svg" alt="">
    </div>
    <div class="col-md col-12 mb-3 align-self-center">
      <img src="../assets/como_funciona/indice-qualidade-assistencial-quadro.svg" alt="">
    </div>
    <div class="col-md-1 col-12 mb-3 align-self-center">
      <img src="../assets/como_funciona/=.svg" alt="">
    </div>
    <div class="col-md col-12 mb-3 align-self-center">
      <img src="../assets/como_funciona/remunercao-variavel-quadro.svg" alt="">
    </div>
  </div>
</div> -->

<div class="container mb-4">
  <div class="container px-0">
    <div class="row row-cols-md-5 row-cols-1 g-2 mb-3 d-flex align-items-center">
      <div class="col">
        <div class="card border-0 mb-3">
          <img src="../assets/como_funciona/indice-utilizacao-quadro.svg" alt="" class="mx-5 mx-md-0">
        </div>
      </div>
      <div class="col">
        <div class="card border-0 d-flex align-items-center mb-3">
          <img class="" src="../assets/como_funciona/+.svg" class="mx-5 mx-md-0" >
        </div>
      </div>
      <div class="col">
        <div class="card border-0 mb-3">
          <img src="../assets/como_funciona/indice-qualidade-assistencial-quadro.svg" alt="" class="mx-5 mx-md-0">
        </div>
      </div>
      <div class="col">
        <div class="card border-0 d-flex align-items-center mb-3">
          <img src="../assets/como_funciona/=.svg" class="mx-5 mx-md-0">
        </div>
      </div>
      <div class="col">
        <div class="card border-0 mb-3">
          <img src="../assets/como_funciona/remunercao-variavel-quadro.svg" alt="" class="mx-5 mx-md-0">
        </div>
      </div>
    </div>
  </div>
</div>



<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-10">
      <p class="text-bg-light p-3 text-center fw-light fs-6 mb-4">
        Vale ressaltar que <strong>OS DOIS CRITÉRIOS SÃO INDEPENDENTES,</strong>
        ou seja, se o IU não é atingido e não há adicional referente à Sinistralidade, mesmo
        assim o cooperado pode receber o adicional do IQA. Da mesma forma, o cooperado que não atingir as metas do
        IQA,
        pode receber o adicional da meta do IU se for atingida.</p>
    </div>
  </div>
</div>



<div class="container-fluid bg-primary p-5 mt-5">
  <div class="row d-flex">
    <picture>
      <source media="(max-width: 960px )" srcset="../assets/como_funciona/tabela01_mobile.svg" class="mx-auto d-block">
      <img srcset="../assets/como_funciona/tabela01.svg" class=" img-fluid mx-auto d-block">
    </picture>
  </div>
</div>

<div class="container my-4">
  <div class="row">
    <div class="col d-flex justify-content-center my-4 text-secondary text">
      <img src="../assets/icone-titulos.svg" alt="">
      <h1 class="ps-3">Indicadores Clínicos Individuais</h1>
    </div>
  </div>
</div>



<div class="container mb-4">
  <div class="row d-flex justify-content-center">
    <div class="col-8 text-center fw-light fs-6">
      <p>A 4ª fase levará em conta também, os Indicadores Clínicos Individuais, definidos e informados a você pelos
        membros das Comissões de Especialidades, e que poderiam, até então, aumentar o valor da remuneração por consulta
        Unimed Uberlândia em até 12%. No entanto, como o índice de Satistação do Beneficiário foi suspenso
        momentaneamente e os 6% referentes a ele foram atribuídos aos Indicadores Clínicos Individuais da 4ª fase, esse
        bônus de 12% passa a ser de 18%!</p>

      <p>Clique aqui e confira a lista completa de idicadores por especialidade..</p>
    </div>
  </div>
</div>

<app-card-indicadores></app-card-indicadores>

<!-- <div class="container mb-5">
  <div class="row d-flex justify-content-center mb-2">
    <div class="col-3">
      <img src="../assets/indicadores_individuais/quadros_1.svg" alt="">
    </div>
    <div class="col-3">
      <img src="../assets/indicadores_individuais/quadros_2.svg" alt="">
    </div>
    <div class="col-3">
      <img src="../assets/indicadores_individuais/quadros_3.svg" alt="">
    </div>
    <div class="col-3">
      <img src="../assets/indicadores_individuais/quadros_4.svg" alt="">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img src="../assets/indicadores_individuais/box-5-com-logo-valoriza-cooperado-01.svg" alt="">
    </div>
  </div>
</div> -->

<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-8">
      <p class="text-center fw-light fs-6 mb-5">
        Com a evolução das etapas, cada um dos novos indicadores proporcionará, no caso do atingimento das metas, um
        aumento específico na remuneração, podendo chegar a um total de 30% ao final de 2021.</p>
    </div>
  </div>
</div>

<div class="container-fluid bg-primary px-2 py-5 mt-5">
  <div class="row">
    <picture>
      <source media="(max-width: 960px )" srcset="../assets/indicadores_individuais/tabela_02_mobile.svg" class="mx-auto d-block">
      <img srcset="../assets/indicadores_individuais/tabela-02.svg" class="img-fluid mx-auto d-block">
    </picture>
  </div>
</div>

<!-- <div class="container-fluid bg-primary p-5 mb-5">
  <div class="row d-flex">
    <div class="col">
      <img src="../assets/indicadores_individuais/tabela-02.svg" alt="" class="mx-auto d-block">
    </div>
  </div>
</div> -->

<div class="container my-4">
  <div class="row">
    <div class="col d-flex justify-content-center my-4 text-secondary">
      <img src="../assets/icone-titulos.svg" alt="">
      <h1 class="ps-3">Exemplificando os Ganhos - 4ª Fase</h1>
    </div>
  </div>
</div>

<app-card-ganhos></app-card-ganhos>


<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-8">
      <p class="text-center fw-light fs-6">
        *Os exemplos se referem aos cooperados que atingiram a pontuação máxima dos Indicadores Gerais de
        Especialidade,
        considerando Telemedicina e Cursos online (2%) + Atualização cadastral (2%) + Cooperativo (2%), e que portanto
        teriam direito a 6% de bônus.

        *Não há perda no valor base da consulta caso o cooperado opte por não aderir a algum indicador, ele apenas não
        recebe a bonificação sobre o valor da consulta.</p>
    </div>
  </div>
</div>

<div class="container my-4">
  <div class="row">
    <div class="col d-flex justify-content-center my-4 text-secondary">
      <img src="../assets/icone-titulos.svg" alt="">
      <h1 class="ps-3">Critérios de Elegibilidade e Suspensão</h1>
    </div>
  </div>
</div>


<div class="container mb-5">
  <div class="row d-flex justify-content-center">
    <div class="col-12 col-sm-4 col-xl-2 mb-4">
      <div class="d-flex flex-column align-items-center">
        <img src="../assets/criterios_elegibilidade_suspensao/medico-criterios-elegibilidade_medico 1.svg"
          style="width: 180px" alt="">
      </div>
    </div>
    <div class="col-12 col-sm-4 col-md-2 mb-4">
      <div class="d-flex flex-column align-items-center">
        <div>
          <img src="../assets/criterios_elegibilidade_suspensao/elegiveis.svg" alt="">
        </div>
        <h2 class="py-1">Elegíveis</h2>
        <p class="text-center col-6 col-md-12">Todos os médicos cooperados ativos da Unimed Presidente Prudente</p>
      </div>
    </div>
    <div class="col-12 col-sm-4 col-md-2 mb-4">
      <div class="d-flex flex-column align-items-center">
        <div>
          <img src="../assets/criterios_elegibilidade_suspensao/suspensos.svg" alt="">
        </div>
        <h2 class="py-1">Suspensos</h2>
        <p class="text-center col-6 col-md-12">Suspenso por 6 meses os cooperados que soferem alguma penalidade
          estatutária ou
          regimental.
        </p>
      </div>
    </div>
  </div>
</div>


<div class="container mt-4">
  <div class="row">
    <div class="col d-flex justify-content-center my-4 text-secondary">
      <img src="../assets/icone-titulos.svg" alt="">
      <h1 class="ps-3">Dúvidas</h1>
    </div>
  </div>
</div>

<div class="container mb-5">
  <div class="row">
    <div class="col d-flex justify-content-center">
      <div class="border-dashed py-4 px-5 d-flex">
        <img src="../assets/icones/phone-icon.svg" class="me-2" style="width: 30px;" alt="">
        <p class="m-0 fs-3 text-secondary fw-bold"><span class="fs-5 me-2">(18)</span>2101-8398</p>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>