<div class="container-fluid mb-2">
  <div class="row d-flex align-items-center justify-content-center text-center">
    <div class="col-8 col-md-2 px-3 border-dashed me-5 mb-2 d-flex align-items-center">
      <h1 class="text-left-card margin-negative-left p-0 my-0">1</h1>
      <h4 class="text-center text-secondary text-bold me-4 h4">Índice de Utilização</h4>
    </div>
    <div class="col-8 col-sm-2 px-3 border-dashed me-5 mb-2 d-flex align-items-center">
      <h1 class="text-left-card margin-negative-left p-0 my-0">2</h1>
      <h4 class="text-center text-secondary text-bold me-4 h4">Satisfação do Beneficiário</h4>
    </div>
    <div class="col-8 col-sm-2 border-dashed me-5 mb-2 d-flex align-items-center">
      <h1 class="text-left-card margin-negative-left p-0 my-0">3</h1>
      <h4 class="text-center text-secondary text-bold me-4 h4">Indicadores Gerais</h4>
    </div>
    <div class="col-8 col-sm-2 border-dashed me-5 mb-2 d-flex align-items-center">
      <h1 class="text-left-card margin-negative-left p-0 my-0">4</h1>
      <h4 class="text-center text-secondary text-bold me-4 h4">Índicadores Individuais</h4>
    </div>
  </div>
</div>
<div class="container-fluid mb-5 ">
  <div class="row d-flex justify-content-center text-center ">
    <div class="col-10 border-dashed background-card">
      <img class="p-4" src="../../../assets/indicadores_individuais/logo-val.svg" alt="">
    </div>
  </div>
</div>