.border-dashed {
  border: 5px dashed #B1D34B;
}

.text-left-card{
  font-size: 130px;
  color: #B1D34B;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #fff;
  font-weight: bold;
  border: 3px solid #fff;
  text-shadow: 0px 2px 4px;
  letter-spacing: 0.384px
}

.background-card {
  background-color: #F0F2F3;
}

.margin-negative-left {
  margin-left: -55px;
}

@media (max-width: 576px) {
  
}